<% provide(:title,"Musique") %>
<!-- $("[id=admin]").css('display', 'block') -->
<h1>Musique</h1>
<div class="videos">
  <% @videos.each do |video| %>
  <%= getLinkedVideo(video) %>
  <%= link_to 'Remove', video_path(video), class: 'btn btn-danger', id:"admin",
  method: :delete %>
  <% end %>
</div>

<div id="admin">
  <%= form_for @video do |f| %>
  <%= render 'layouts/errors', object: @video %>
  <div class="form-group">
    <%= f.url_field :link, class: 'form-control' %>
  </div>
  <%= f.submit 'Upload', class: 'btn btn-primary' %>
  <% end %>
</div>
