<% provide(:title,"Photos") %>
<script type="text/javascript">
window.onload = $( document ).ready( GoCarrousel);
</script>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Carrousel
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="carrousel">
          <% @chats.each do |chat| %>
          <div>
            <%= link_to image_tag(chat.image.url(:large)), chat.image.url %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Ajouter Photos
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <table style="width:100%">
          <tr>
            <%= form_for @chat do |f| %>
            <%= render 'layouts/errors', object: @chat %>
            <td>
              <div class="form-group">
                <%= f.file_field :image, class: 'form-control' %>
              </div>
            </td>
            <td>
              <%= f.submit 'Upload', class: 'btn btn-primary' %>
            </td>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Supprimer Photos
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <% @chats.each do |chat| %>
        <%= link_to image_tag(chat.image.url(:small)),chat_path(chat),method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
</div>
