<% provide(:title,"Chat") %>
<script type="text/javascript">
window.onload = $( document ).ready( GoCarrousel);
window.onload = $(document).bind('keypress', function(e) {
  if (e.keyCode == 32)
  {
    $(".admin").toggle();
  }
});
</script>

<div class="admin">
  <%= form_for @chat do |f| %>
  <%= render 'layouts/errors', object: @chat %>
  <div class="form-group">
    <%= f.file_field :image, class: 'form-control' %>
  </div>
  <%= f.submit 'Upload', class: 'btn btn-primary' %>
  <% end %>
<br />
  <% @chats.each do |chat| %>
  <%= link_to image_tag(chat.image.url(:small)),root_path %>
  <%= link_to 'Remove', chat_path(chat), class: 'btn btn-danger',
  method: :delete %>
  <br />
  <% end %>
</div>

<div class="owl-carousel">
  <% @chats.each do |chat| %>
  <div>
    <%= link_to image_tag(chat.image.url(:large)), chat.image.url %>
  </div>
  <% end %>
</div>
