<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
      data-toggle="collapse"
      data-target=".navbar-collapse">
      <span class="sr-only">Toggle
        navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Waiting for the plane to land",
      root_path, id:"logo" %>
    </div>
    <nav class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Accueil",   root_path %></li>
        <li><%= link_to "CV", cv_path %></li>
        <li><%= link_to "Photos",   chats_path %></li>
        <li><%= link_to "Musique",   musique_path %></li>
      </ul>
    </nav>
  </div>
</nav>
