<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sam", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Accueil",   '#' %></li>
        <li><%= link_to "CV",   '#' %></li>
        <li><%= link_to "État serveur", '#' %></li>
        <li><%= link_to "Terminal", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
